.accueil {
    width: 70%;
    margin: 8rem auto 8rem auto;
    height: 60vh;
    h1{
        font-size: 3em;
        margin: 1.2em auto 0.5em auto;
    }
    .bonjour{
        font-size: 1.5em;
        margin-left: 2em;
        color: orange;
    }
    .fonction{
        font-size: 2em;
        color: rgba(255, 255, 255, 0.781);
        margin: 1.5em auto;
    }
    .bienvenu{
        margin-top: 3em;
        font-size: 2em;
        text-align: center;
    }
    button {
        border: none;
        font-size: 1.5em;
        border-radius: 50px;
        cursor: pointer;
        background-color: rgba(255,255,255,0.85);
        box-shadow: 4px -2px 15px 8px rgba(255,255,255,0.61);
        transition: 1s ease;
        margin: 4em auto;
        display: grid;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
            padding: 1rem;
        }
    }
    button:hover{
        box-shadow: 4px -2px 25px 8px orange;
        transition: 1s ease;
    }
}