*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-image: linear-gradient(to right, #303030 0%, black 100%);
    header{
        margin: 2em;
        display: grid;
        grid-template-columns: 50% 50% ;
        justify-content: space-around;
        align-items: center;
        img{
            width: 4em;
        }
        h1{
            font-size: 2.5em;
            margin-left: 1em;
        }
        nav{
            font-size: 1em;
            display: flex;
            justify-content: space-around;
            align-items: center;
                a{
                    cursor: pointer;
                    padding-bottom: 0.5em;
                    color: white;
                    text-decoration: none;
                }
                a:hover{
                    box-shadow: inset 0px -2px 0px orange;
                    transition: 0.4s ease;
                }

        }
        }
    footer {
        min-height: 15vh;
        font-size: 1em;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            box-shadow: inset 0px -1px 0px orange;
            transition: 0.4s ease;
        }
    }
}

.nav-mobile{
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    body header{
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 1150px) {
        body header{
            grid-template-columns: 35% 65%;
            nav {
               a{
                   line-height: 2rem;
               }
           }
        }
            
}
@media screen and (max-width: 1020px) {
    body header{
        grid-template-columns: 30% 70%;
    }
    body footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 930px) {
    body header{
        grid-template-columns: 25% 75%;
    }
}

@media screen and (max-width: 850px) {
    body header{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    body header nav{
        display: none;
    }
}
@media screen and (min-width: 851px) {
    .nav-mobile{
        display: none;
    }
}
@media screen and (max-width: 750px) {
    body header{
        grid-template-columns: 15% 85%;
    }

}
@media screen and (max-width: 400px) {
    body footer{
        padding: 1rem;
        gap: 2rem;
    }
}

.print-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    padding: 2em 0;
    font-size: 2em;
    gap: 2rem;
    width: 100%;
    background: rgba(0, 0, 0);
}
