.presentation{
    // transform: rotate(-4deg) scale(1.2, 1);
    height: 100vh;
    width: 70%;
    margin: auto;
    .suis{
        color: orange;
        font-size: 2em;
        padding-top: 8rem;
        margin: auto auto 3rem 3rem;
    }
    .-je{
        font-size: 1.5em;
    }
}