.presentation{
    min-height: 100vh;
    margin: auto;
    background: rgb(227, 227, 227);
    div{
        width: 70%;
        margin: auto;
        .suis{
            color: rgb(90, 59, 0);
            font-size: 2em;
            padding-top: 8rem;
            margin: auto auto 3rem 3rem;
        }
        .-je{
            font-size: 1.5em;
            line-height: 3rem;
            color: black;
        }

    }
}

@media screen and (max-width: 1069px) {
    .presentation{
        div{padding-bottom: 3rem;}
    }
}
@media screen and (max-width: 500px) {
    
    .presentation div .suis{
        margin: auto auto 3rem 0;
    }
    .presentation div .-je{
        font-size: 1em;
        line-height: 2rem;
    }
    .presentation div{
        width: 90%;
    }
}

