::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: none;
}
::-webkit-scrollbar-thumb{
    background: rgb(255, 166, 0);
    border-radius: 10px;
}


.projets{
    min-height: 100vh;
    div{
        width: 80%;
        margin: auto auto 5rem auto;
        h2{
            color: #ffa600;
            text-align: center;
            margin: auto auto 3em;
            padding-top: 2.5em;
            font-size: 2em;
        }
        .projets--article{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            &--article{
                background: rgb(227, 227, 227);
                border-radius: 10px;
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &--photo{
                    border-radius: 10px;
                    width: 100%;
                    height: 30%;
                }
                &--title{
                    text-transform: capitalize;
                    padding: 0;
                    margin: 0;
                }
                &--text{
                    text-transform: initial;
                    color: black;
                    line-height: 2rem;
                    overflow-y: scroll;
                    height: 33%;
                }
                &--link{
                    margin-bottom: 0;
                }
            }
        }

    }
}
@media screen and (max-width: 1450px){
    .projets div{
        width: 90%;
    }
}
@media screen and (max-width: 1050px){
    .projets div{
        width: 98%;
    }
}
@media screen and (max-width: 950px){
    .projets div .projets--article{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 700px){
    .projets div .projets--article{
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
    }
}