.projets{
    min-height: 100vh;
    div{
        width: 70%;
        margin: auto;
        h2{
            color: #ffa600;
            text-align: center;
            margin: auto auto 3em;
            padding-top: 2.5em;
            font-size: 2em;
        }
    }
}